body{
  background: #0a0919;
  /* background: -moz-linear-gradient(0deg, rgba(4,0,50,1) 22%, rgba(235,85,214,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(4,0,50,1) 22%, rgba(235,85,214,1) 100%);
  background: linear-gradient(0deg, rgba(4,0,50,1) 22%, rgba(235,85,214,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#040032",endColorstr="#eb55d6",GradientType=1); background-repeat: no-repeat;
  background-attachment: fixed; */
  margin: 0;
  color: white;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently  supported by Chrome, Opera and Firefox */  
  font-family: 'Turret Road';
}
.nav{
  background-color: #010015;
  height: 5vh;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom-style: solid;
  border-bottom-color: #29d9e4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Turret Road';
  font-weight: bolder;
  z-index: 2;

}

#landing{
  background: url(./public/portfolio_banner.png);
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  background-color: #010014;

}
  
  .arrowbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 5em;
    max-height: 100px;
    height: 5em;
    background: rgba(5, 3, 36, 0.95);
    border: .2em solid #fe26ab;
    border-radius: 5em;
    color: #fe25ab;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 6px rgba(0,0,0,0.75);

}
  .arrowbtn:hover {
     display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-color: white;
    color: #111;
  }
  .arrowbtn:after {
     display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: inline-block;
    content: "";
    width: 1.5em;
    height: 1.5em;
    top: 50%;
    left: 50%;
  }
    
  .arrowbtn-down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}
  .arrowbtn-down:after {
     display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -12.5px;
    margin-top: -18.75px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .h1{
    font-family: 'Turret Road';
    padding-top: 5em;
    padding-right: .5em;
    padding-left: .5em;
  }
  .roboto{
    font-family: 'Turret Road';font-size: x-large;
    padding-right: .5em;
    padding-left: .5em;
  }

  .stack{
    margin: 2em;
  }

  .stack-logo{
    max-height: 9.5em;
    max-width: 12em;
    margin: .5em;  
    transition: all .1s ease-in-out;
  }
  
  .stack-logo:hover { 
    transform: scale(1.25); 
  }

  #about{
    display: table;
    height: 95vh;
    text-align: center;
    background-color: rgba(1, 0, 20, 0.95);
  }
  
  .about-href{
    color: #fe25ab;
    text-decoration:none;
  }
  .projects-section{
    background-color: rgba(18, 18, 26, 0.95);
    text-align: center;
    height: 95vh;
    padding: 1em;
    overflow: scroll;
  }
  #video-stack{ 
    padding: 1.5em;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
  }

.container {
  position: relative;
  max-width: 25em;
  margin: 1em;
  cursor: pointer;
  background: black;

}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: smaller;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.modal{
    position: fixed;
    background: rgba(0,0,0, 0.90);
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 100;
    padding: 1em;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
.video-btn{
  border: solid;
  padding: .5em;
}
.videoWrapper {
  height: 90%;
  width: 90%;
}
.videoWrapper iframe {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
